<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>CLoop: Course Assessemnt -  {{ course_code }} - {{ course_title }}</title>
	<meta name="description" content="Bootstrap Metro Dashboard">
	<meta name="author" content="Dennis Ji">
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
	<!-- end: Meta -->

	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="/static/css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="/static/css/style-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>

	<link href="/static/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/vis.css" rel="stylesheet" type="text/css" />

	<!-- end: CSS -->


	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->

	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->

	<!-- start: Favicon -->
	<link rel="shortcut icon" href="/static/img/favicon.png">
	<!-- end: Favicon -->

</head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/mycourses"><span>Loop - Analytics for Learning Design </span></a>

				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<!-- start: User Dropdown -->
						{% if user.is_authenticated %}
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> {{ user.username }}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
 									<span>Account Settings</span>
								</li>
								<!--<li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>-->
								<li><a href="/logout"><i class="halflings-icon off"></i> Logout</a></li>
							</ul>
						</li>
						{% endif %}
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->

			</div>
		</div>
	</div>
	<!-- start: Header -->

		<div class="container-fluid-full">
		<div class="row-fluid">

			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="/coursedashboard?course_id={{ course_id }}&week_filter=0"><i class="icon-bar-chart"></i><span class="hidden-tablet">Course Dashboard</span></a></li>
						<li>
							<a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Course Access</span></a>
							<ul>
								<li><a class="submenu" href="/content?course_id={{ course_id }}""><i class="icon-file-alt"></i><span class="hidden-tablet"> Content</span></a></li>
								<li><a class="submenu" href="/communication?course_id={{ course_id }}""><i class="icon-file-alt"></i><span class="hidden-tablet"> Communication</span></a></li>
								<li><a class="submenu" href="/assessment?course_id={{ course_id }}""><i class="icon-file-alt"></i><span class="hidden-tablet"> Assessment</span></a></li>
							</ul>
						</li>
						<li><a href="/coursemembers?course_id={{ course_id }}"><i class="icon-user"></i><span class="hidden-tablet">Students</span></a></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->

			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>

			<!-- start: Content -->
			<div id="content" class="span10">


			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="/mycourses">My Courses</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="/coursedashboard?course_id={{ course_id }}&week_filter=0">Course: {{ course_code }} - {{ course_title }}</a></li>
				<i class="icon-angle-right"></i>
				<li>Find Groups</li>
			</ul>

			<div class="row-fluid">

				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon th"></i><span class="break"></span>Find Groups</h2>
					</div>
					<div class="box-content">
            <form role="form" name="nmf_params" method="post" action="/findgroups/" onsubmit="return validateForm()" >
              {% csrf_token %}
              <input type="hidden" name="course_id" value="{{course_id}}" />
            <div class="form-group has-success">
                <label class="control-label" for="no_topics">Specify Number of Groups</label>
                <input type="text" class="form-control" id="no_groups" name="no_groups" />
                <br/>
                <button type="submit" class="btn btn-primary btn-xs">Find Groups</button>
            </div>

            </form>
            Number of Groups: {{no_groups}}
            <div id="network" style="height: 500px;"></div>
            {{ group_display|safe }}

          </div>
				</div><!--/span-->

			</div><!--/row-->

	</div><!--/.fluid-container-->

			<!-- end: Content -->
		</div><!--/#content.span10-->
		</div><!--/fluid-row-->


	<div class="clearfix"></div>

	<footer>

		<p>
			<span style="text-align:left;float:left">2016 Loop OLT Project - <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike</a></span>
		</p>

	</footer>

	<!-- start: JavaScript-->

		<script src="/static/js/jquery-1.9.1.min.js"></script>
	<script src="/static/js/jquery-migrate-1.0.0.min.js"></script>

		<script src="/static/js/jquery-ui-1.10.0.custom.min.js"></script>

		<script src="/static/js/jquery.ui.touch-punch.js"></script>

		<script src="/static/js/modernizr.js"></script>

		<script src="/static/js/bootstrap.min.js"></script>

		<script src="/static/js/jquery.cookie.js"></script>

		<script src="/static/js/fullcalendar.min.js"></script>

		<script src="/static/js/jquery.dataTables.min.js"></script>

		<script src="/static/js/excanvas.js"></script>
	<script src="/static/js/jquery.flot.js"></script>
	<script src="/static/js/jquery.flot.pie.js"></script>
	<script src="/static/js/jquery.flot.stack.js"></script>
	<script src="/static/js/jquery.flot.resize.min.js"></script>

		<script src="/static/js/jquery.chosen.min.js"></script>

		<script src="/static/js/jquery.uniform.min.js"></script>

		<script src="/static/js/jquery.cleditor.min.js"></script>

		<script src="/static/js/jquery.noty.js"></script>

		<script src="/static/js/jquery.elfinder.min.js"></script>

		<script src="/static/js/jquery.raty.min.js"></script>

		<script src="/static/js/jquery.iphone.toggle.js"></script>

		<script src="/static/js/jquery.uploadify-3.1.min.js"></script>

		<script src="/static/js/jquery.gritter.min.js"></script>

		<script src="/static/js/jquery.imagesloaded.js"></script>

		<script src="/static/js/jquery.masonry.min.js"></script>

		<script src="/static/js/jquery.knob.modified.js"></script>

		<script src="/static/js/jquery.sparkline.js"></script>

		<script src="/static/js/counter.js"></script>

		<script src="/static/js/retina.js"></script>

		<script src="/static/js/custom.js"></script>

		<script src="/static/js/jquery.treetable.js"></script>
    <script src="/static/js/vis.js"></script>
    <script>
    $(function() {

          // create a network
          var container = document.getElementById('network');
          var data = {{graph_json|safe}};
          var options = {
              nodes: {
                  shape: 'dot'
              },
              physics: {
                  forceAtlas2Based: {
                      gravitationalConstant: -26,
                      centralGravity: 0.005,
                      springLength: 230,
                      springConstant: 0.18
                  },
                  maxVelocity: 146,
                  solver: 'forceAtlas2Based',
                  timestep: 0.35,
                  stabilization: {iterations:300}
              }
          };
          var network = new vis.Network(container, data, options);
    });


  function isInteger(x) {
          return x % 1 === 0;
      }
  function validateForm() {
      var a = document.forms["ldaparams"]["num_topics"].value;
      if (a == null || a == "" || a <= 0 || a>=30 || !(isInteger(a)) ) {
        alert("Please enter a number between 1 and 30")
                  return false;
      }
      else return true;
      }
</script>
	<!-- end: JavaScript-->

</body>
</html>
